@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Style.css" />
<div class="text-center">
    <h1 class="display-4">Chào Mừng Bạn Đến Thế Gioi Di Động </h1>
</div>

<section>

    <div class="prd-promo__top clearfix">
        <a data-cate="0" data-place="1867" href="https://www.thegioididong.com/mua-online-gia-re" onclick="jQuery.ajax({ url: '/bannertracking?bid=47544&amp;r='+ (new Date).getTime(), async: true, cache: false });"><img style="cursor:pointer" src="https://cdn.tgdd.vn/2022/03/banner/dessss-1200x90.png" alt="Theme Giáng Sinh TGDD Desk" width="1200" height="90"></a>
    </div>

    <div class="row">

        <div class="grid-container">

            <img src="https://imgs.viettelstore.vn/Images/Product/ProductImage/dien-thoai/Apple/iPhone%2013%20Pro%20Max/iPhone-13-Pro-Max-2.jpg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>iPhone-13-Pro-Max</p>
                <p><b>Gía Thành:</b>20.000.000</p>
                <p><b>Dung Lượng:</b>6 Ram,356GP</p>
            </label>


            <img src="https://cdn.nguyenkimmall.com/images/detailed/757/dien-thoai-iphone-13-pro-max-1tb-xanh-duong-1.jpg" style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>iPhone-13-Pro-Max</p>
                <p><b>Gía Thành:</b>25.000.000</p>
                <p><b>Dung Lượng:</b>8 Ram,516GP</p>
            </label>

            <img src="https://cdn.tgdd.vn/Products/Images/42/230529/iphone-13-pro-max-gold-1-600x600.jpg " style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>iPhone-13-Pro-Max</p>
                <p><b>Gía Thành:</b>25.000.000</p>
                <p><b>Dung Lượng:</b>8 Ram,516GP</p>
            </label>

            <img src="https://cdn1.viettelstore.vn/images/Product/ProductImage/medium/704188148.jpeg " style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>Samsung S22</p>
                <p><b>Gía Thành:</b>30.000.000</p>
                <p><b>Dung Lượng:</b>8 Ram,138GP</p>
            </label>
            <img src="https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-s10-5g-8gb-256gb-likenew-didongviet.jpg " style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>Samsung S10 Plus</p>
                <p><b>Gía Thành:</b>15.000.000</p>
                <p><b>Dung Lượng:</b>8 Ram,116GP</p>
            </label>
            <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/medium//91/MTA-13383622/oppo_oppo_a54_4-128_100-_garansi_resmi_-_oppo_full01_9941212d.jpg " style="width: 284px; height: 284px ">
            </a><label class="div3">
                <p><b>Điện Thoại:</b>OpPo A95</p>
                <p><b>Gía Thành:</b>25.000.000</p>
                <p><b>Dung Lượng:</b>8 Ram,516GP</p>
            </label>

        </div>
    </div>
</section>